/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {

  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
    
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: #9cffff;
    background: url("/Content/Wall.png") no-repeat;
    background-size: 100%;
}
.footer {
    background: #000022;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
.navbar {
    background: #000022;
}

.hover-but:hover {
    background-color: khaki;
    display: block;
}
.new-but:hover {
    background-color: khaki;
}
.none-st {
    background-color: white;
    border: none;
}
div.content {
    display: flex;
    flex-wrap: wrap;
}
div.content div.article
{
    width: 260px;
    min-height: 216px;
    margin: 0 10px 25px 0;
}
div.content div.article img
{
    width: 100%;
    height: 100%;
}
    div.content div.article img:hover {
        filter: blur(3px);
        opacity: 1;
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        -moz-transition-property: all;
        -o-transition-property: all;
        -webkit-transition-property: all;
        transition-property: all;
        -moz-transition-duration: 0.6s;
        -o-transition-duration: 0.6s;
        -webkit-transition-duration: 0.6s;
        transition-duration: 0.6s;
    }
    div.content div.article a.text-dark h3 {
        font-size: 20px;
        color: #ACA8CB;
        font-weight: 400;
        text-decoration: none;
    }
        div.content div.article a.text-dark h3:hover {
            color: #6475f2;
            text-decoration: none;
         
        }
.text-dan a{
    font-size: 20px;
}
div.content div.article {
    width: 260px;
    min-height: 216px;
    margin: 0 10px 25px 0;
    padding-bottom: 35px;
    padding-left: 10px;
}
    div.content div.article img {
        padding-top: 10px;
       

    }
    div.content div.article a.text-data {
        color: #20B2AA;
        text-decoration: none;
    }
.but {
    font-size: 25px;
    color: #ffd9f2;
    font-weight: bold;
}
.but:hover {
    filter:blur(0.5px);
    text-decoration: none;
    color: khaki;
}
.but1 {
    font-size: 50px;
    font-weight: 900;
    color: #ff828b;
}
.main-header {
    background: url("/Content/header.jpg") no-repeat;
    background-size: 100%;
    width: 100%;
}

div.main-header h1.but1 {
    padding-left: 10px;
}
div.main-header p a {
    color: #ffd9f2;
}
div.content {
    background: #EEFFEB;
}
div.content1 {
    background: #9cffff;
    padding-left: 10px;
}
.no-padding{
    margin: 0;
}

div.main-header p {
    margin-top: 0;
    margin-bottom: 0;
}
    div.main-header p.but1 {
        padding-left: 10px;
        font-size: 30px;
        color: #ffccf2;
        font-weight:300;
    }
.row,
.row-alt {
    min-width: 960px;
}

.row {
    background: #fff;
    padding: 66px 0 44px 0;
}

.row-alt {
    background: #cbe2c1;
    background: -webkit-linear-gradient(to left, #F3F5C1, #618FE6);
    background: -moz-linear-gradient(to left, #F3F5C1, #618FE6);
    background: linear-gradient(to left, #F3F5C1, #618FE6);
    padding: 66px 0 44px 0;
}
.container1,
.grid {
    margin: 0 auto;
    width: 960px;
}

.container1 {
    padding-left: 30px;
    padding-right: 30px;
}

.grid,
.col-1-3,
.col-2-3 {
    padding-left: 15px;
    padding-right: 15px;
}

.col-1-3,
.col-2-3 {
    display: inline-block;
    vertical-align: top;
}

.col-1-3 {
    width: 33.33%;
}

.col-2-3 {
    width: 66.66%;
}
.new-img {
    width: 100px;
    min-height: 60px;
}
div div.content a.hy img {
    width: 260px ;
    min-height: 216px;
    margin: 0 10px 25px 0;
    padding-bottom: 35px;
    padding-left: 10px;
}
.but-1 {
    font-size: 25px;
    padding-right: 10px;
    
    color: #8a7f8e;
    font-weight: bold;
}

    .but-1:hover {
        filter: blur(0.5px);
        text-decoration: none;
        color: #7f7679;
    }
div div.content a.butter {
    margin-left: 86%;

}
.zhopa {
    font-size: 40px;
    color: #957b8d;
    font-weight: lighter;
}
div div.content ul li h4.zhopa {
    font-size: 30px;
}
div div.content ul li a.zhopa {
    font-size: 20px;
}
div div.content ul li p.zhopa {
    padding-top: 20px;
    font-size: 20px;
}
li {
    list-style-type: none;
}
div div.content ul li a.but-1 {
    font-weight: lighter;
    color: darkslategrey;
}
.btn-1 {
    border-radius: 4px;
    background-color: #0095f6;
    font-weight: bold;
    padding: .5rem 1rem;
    border: none;
}

ul.nav.navbar-nav.navbar-right li a.text-blue {
    color: #0095f6 !important;
    font-weight: bold;
}


